<p>Dear {{ name }}.</p>
<p>Welcome to Shop Manager!</p>
<p>Your OTP code is: {{ otp }}. This code only valid in 5 minutes, use it to verify your email.</p>

<p>If you did not request this email, you can safely ignore it.</p>
